/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Fonts possibilities
1. Play by Jonas Hecksher
Saira Stencil One
Ubuntu Mono
New Rocker
*/
body {
  font-family: "Play", sans-serif;
}

.spacer-for-scroll {
  height: 130vh;
}
/* Reusable Variables */
:root {
  --grayed-out: #aaafb4;
  --shadow: rgba(0, 0, 0, 0.1);
  --footer-height-xs: 36px;
  --footer-height-md: 48px;
}

#footer {
  padding-top: 0px;
  position: fixed;
  bottom: 0;
  height: var(--footer-height-xs);
  width: 100%;
  box-shadow: 0px -4px 8px var(--shadow);

  background-color: white;
  /* background-color: red; */
  color: var(--grayed-out);
}
#footer-spacer {
  height: var(--footer-height-xs);
}
.nav-button {
  overflow: hidden;
  position: relative;
  font-size: 10px;
  padding-top: 11px;
  transition-property: padding-top, background-color;
  transition-duration: 0.2s;
}
.nav-button-active {
  padding-top: 4px;
  color: rgb(224, 195, 31);
  background: rgb(68, 95, 68);
}

.nav-button-active .footer-title {
  visibility: visible;
}

.footer-title {
  visibility: hidden;
}

/* Button Ripple Effect
https://www.youtube.com/watch?v=ueyRcYEmsrI&ab_channel=OnlineTutorials
https://material.io/components/buttons
*/

.ripple {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 100%;
  animation: rippleEffect 0.25s linear;
}
@keyframes rippleEffect {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 250px;
    height: 250px;
  }
}

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
} */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #footer {
    height: var(--footer-height-md);
    padding-top: 0px;
  }
  #footer-spacer {
    height: var(--footer-height-md);
  }
  .nav-button {
    font-size: 12px;
    padding-top: 15px;
  }
  .nav-button-active {
    padding-top: 8px;
  }
}
/* ============ MAX WIDTH ========== DO NOT PASS THIS LINE */
/* ============ MAX WIDTH ========== DO NOT PASS THIS LINE */
/* ============ MAX WIDTH ========== DO NOT PASS THIS LINE */
/* ============ MAX WIDTH ========== DO NOT PASS THIS LINE */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
} */

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #appContent {
    max-width: 1140px;
  }
  #footer {
    width: 1140px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) {
} */

/* ===== Splash Screen ===== */
.splash {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}
.splash-gone {
  opacity: 0;
}
.splash__title {
  text-transform: uppercase;
  font-size: 40px;
  white-space: nowrap;
  margin-top: 10px;
}

.splash img {
  display: block;
  height: 120px;
  width: 120px;
}

@media screen and (min-width: 768px) {
  .splash__title {
    font-size: 60px;
  }

  .splash img {
    height: 180px;
    width: 180px;
  }
}
