<div class="row" id="footer-spacer"></div>
<nav class="row" id="footer">
  <div class="nav-button nav-button-active col text-center">
    <i class="fas fa-flag fa-lg"></i>
    <div class="footer-title">Path</div>
  </div>
  <div class="nav-button col text-center">
    <i class="fas fa-cog fa-lg"></i>
    <div class="footer-title">Settings</div>
  </div>
  <div class="nav-button col text-center">
    <i class="fas fa-sort-alpha-down fa-lg"></i>
    <div class="footer-title">Table</div>
  </div>
  <div class="nav-button  col text-center">
    <i class="fas fa-certificate fa-lg"></i>
    <div class="footer-title">Rank</div>
  </div>
</nav>