<header class="row hero">
  <div class="hero__flex">
    <h1 class="heading hero__heading">Path</h1>
  </div>
  <img class="hero__img" src="img/sniper_hero@3x.jpg" alt="">
</header>

<main class="row">
  <div class="book px-0">

    <section class="chapter mb-5">
      <div class="title">
        <div class="title-divider"></div>
        <div class="title-container">
          <h2 class="heading title-name">Basic</h2>
        </div>
      </div>
      <ul class="lessons">
        <li class="lesson lesson--complete">
          <h3>Sit amet consectetur adipisicing elit.</h3>
          <div class="completion"><i class="fas fa-star"></i></div>
        </li>
        <li class="lesson">
          <h3>Lorem, ipsum.</h3>
          <div class="completion"><i class="fas fa-star"></i></div>
        </li>
        <li class="lesson lesson--disabled">
          <div class="disabled-overlay"></div>
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
          <div class="completion"><i class="fas fa-star"></i></div>
        </li>
        <li class="lesson lesson--disabled">
          <div class="disabled-overlay"></div>
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
          <div class="completion"><i class="fas fa-star"></i></div>
        </li>
      </ul>
    </section>

    <section class="chapter mb-5">
      <div class="title">
        <div class="title-divider"></div>
        <div class="title-container">
          <h2 class="heading title-name">Intermediate</h2>
        </div>
      </div>
      <ul class="lessons">
        <li class="lesson lesson--disabled">
          <div class="disabled-overlay"></div>
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
          <div class="completion"><i class="fas fa-star"></i></div>
        </li>
        <li class="lesson lesson--disabled">
          <div class="disabled-overlay"></div>
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
          <div class="completion"><i class="fas fa-star"></i></div>
        </li>
        <li class="lesson lesson--disabled">
          <div class="disabled-overlay"></div>
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
          <div class="completion"><i class="fas fa-star"></i></div>
        </li>
        <li class="lesson lesson--disabled">
          <div class="disabled-overlay"></div>
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
          <div class="completion"><i class="fas fa-star"></i></div>
        </li>
      </ul>
    </section>

    <section class="chapter mb-5">
      <div class="title">
        <div class="title-divider"></div>
        <div class="title-container">
          <h2 class="heading title-name">Advanced</h2>
        </div>
      </div>
      <ul class="lessons">
        <li class="lesson lesson--disabled">
          <div class="disabled-overlay"></div>
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
          <div class="completion"><i class="fas fa-star"></i></div>
        </li>
        <li class="lesson lesson--disabled">
          <div class="disabled-overlay"></div>
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
          <div class="completion"><i class="fas fa-star"></i></div>
        </li>
        <li class="lesson lesson--disabled">
          <div class="disabled-overlay"></div>
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
          <div class="completion"><i class="fas fa-star"></i></div>
        </li>
        <li class="lesson lesson--disabled">
          <div class="disabled-overlay"></div>
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
          <div class="completion"><i class="fas fa-star"></i></div>
        </li>
      </ul>
    </section>

  </div>
</main>